[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ophyd = "*"
pytango = "*"
bluesky = "*"
ophyd-tango-devices = {path = "."}

[dev-packages]

[requires]
python_version = "3.9"
